{% extends "base.html" %}
{% block body %}
    
    <div class="page-wrapper">
        <div class="content container-fluid">
           
           <div class="row">
              <div class="col-sm-12">
                 <div class="card">
                    <div class="card-body">
                       <form method="post" action="{% url "update_session" %}">
                         {% csrf_token %}
                          <div class="row">
                             <div class="col-12">
                                <h5 class="form-title"><span>Edit Session</span></h5>
                             </div>
                            {% include "includes/messages.html" %}
                            
                            <div class="col-5 col-sm-5">
                                <div class="form-group">
                                <label>Session Year Start</label>
                                <input type="text" class="form-control" name = "session_id" value = "{% for i in session %}{{i.id}}{% endfor %}" hidden>
                                <input type="date" class="form-control" name = "session_start" value = "{% for i in session %}{{i.session_start}}{% endfor %}">
                                </div>
                            </div> 
                            <div class="col-5 col-sm-5">
                                <div class="form-group">
                                <label>Session Year End</label>
                                <input type="date" class="form-control" name = "session_end" value = "{% for i in session %}{{i.session_end}}{% endfor %}">
                                </div>
                            </div> 
    
                             <div class="col-12">
                                <button type="submit" class="btn btn-primary">Update Session</button>
                             </div>
                             
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
    
    {% endblock %}
    